<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" />
<link href="[[=z.asset_location]]/css/themes/[[=z.report_theme]].css" rel="stylesheet" type="text/css">
<link href="[[=z.asset_location]]/css/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://kit.fontawesome.com/24e8bd11b7.js" crossorigin="anonymous"></script>
<script src="[[=z.asset_location]]/scripts/main.js" defer></script>

<div id="asset_location" data-location="[[=z.asset_location]]" style="display: hidden;"></div>
<title>Security</title>

<div class="page">
  <header>
    [[ if (z.report_logo) { ]]
    <div class="logo">
      <img src="[[=z.report_logo]]" alt="logo" />
    </div>
    [[ } ]]
    <h1>[[=z.report_title]]</h1>
    <p>[[=z.report_date]]</p>
  </header>

  <section>
    <h2><i class="fab fa-npm"></i>NPM Packages Statistics</h2>
    <div class="box-stats-container">
      <div class="box-stats-resume">
        <div class="one-stat">
          <i class="fas fa-weight-hanging"></i>
          <h3>Internal size</h3>
          <span>[[=z.npm_stats.size.internal]]</span>
        </div>
        <div class="one-stat">
          <i class="fas fa-weight-hanging"></i>
          <h3>Third size</h3>
          <span>[[=z.npm_stats.size.external]]</span>
        </div>
        <div class="one-stat">
          <i class="fas fa-boxes"></i>
          <h3>All size</h3>
          <span>[[=z.npm_stats.size.all]]</span>
        </div>
      </div>
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-box"></i>
          <h3><span>[[=z.npm_stats.packages_count.internal]]</span>Internal Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, option] of Object.entries(z.npm_stats.packages)) { ]]
          [[ if (!option.isThird) { ]]
          <li class="npm-packages-item">
            <a href="[[=option.links?.npm]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
            [[ if (z.npm_stats.showFlags) { ]]
            [[ for (const flag of Object.values(option.flags)) {]]
            <span class="emoji" title="[[=flag.tooltipDescription]]">
              [[=flag.emoji]]
            </span>
            [[ } ]]
            [[ } ]]
          </li>
          [[ } ]]
          [[ } ]]
        </ul>
      </div>
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-globe"></i>
          <h3><span>[[=z.npm_stats.packages_count.external]]</span>Third-party Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, option] of Object.entries(z.npm_stats.packages)) { ]]
          [[ if (option.isThird) { ]]
          <li class="npm-packages-item">
            <a href="[[=option.links?.npm]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
            [[ if (z.npm_stats.showFlags) { ]]
            [[ for (const flag of Object.values(option.flags)) {]]
            <span class="emoji" title="[[=flag.tooltipDescription]]">
              [[=flag.emoji]]
            </span>
            [[ } ]]
            [[ } ]]
          </li>
          [[ } ]]
          [[ } ]]
        </ul>
      </div>

      [[ if (z.npm_stats.showFlags) { ]]
      <div class="print-only">
        <!-- We display the emoji legend on print mode because PDF does not support title attribute -->
        <ul class="emoji-legend">
          [[ for (const flag of Object.keys(z.npm_stats.flags)) { ]]
          <li>
            [[=z.npm_stats.flagsList[flag].emoji]]
            [[=z.npm_stats.flagsList[flag].tooltipDescription]]
          </li>
          [[ } ]]
        </ul>
      </div>
      [[ } ]]
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-project-diagram"></i>
          <h3><span>[[=Object.keys(z.npm_stats.deps.transitive).length]]</span>Transitive Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, { links }] of Object.entries(z.npm_stats.deps.transitive)) { ]]
          <li class="npm-packages-item">
            <a href="[[=links?.npm]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
      <div class="box-stats">
        <div class="box-title">
          <i class="fab fa-node-js"></i>
          <h3><span>[[=Object.keys(z.npm_stats.deps.node).length]]</span>Node.js Core Dependencies</h3>
        </div>
        <ul class="node-list">
          [[ for (const [name, { visualizerUrl }] of Object.entries(z.npm_stats.deps.node)) { ]]
          <li class="node-item">
            <a href="[[=visualizerUrl]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-user"></i>
          <h3>Authors & Maintainers</h3>
        </div>
        <div class="box-avatar">
          [[ for (const [email, count] of Object.entries(z.npm_stats.authors)) { ]]
          <div class="avatar" data-email="[[=email]]">
            <a href="#" target="_blank" rel="noopener"></a>
            <p>[[=count]]</p>
          </div>
          [[ } ]]
        </div>
      </div>
    </div>
    [[ if (Object.keys(z.npm_stats.scorecards).length > 0) { ]]
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <h3>Scorecards</h3>
        </div>
        <ul class="scorecard-packages-list">
          [[ for (const [package, { score, color, visualizerUrl }] of Object.entries(z.npm_stats.scorecards)) { ]]
          <li class="scorecard-item">
            <a href="[[=visualizerUrl]]" target="_blank" rel="noopener">
              <span class="package">[[=package]]</span>
              <span class="score [[=color]]">[[=score]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
    </div>
    [[ } ]]
    [[ for (const { name, help } of z.charts) { ]]
    <div class="box-stats-container charts">
      <div class="box-stats">
        <div class="box-title">
          <h3>[[=name]]</h3>
        </div>
        <canvas id="npm_[[=name.toLowerCase()]]_canvas"></canvas>
      </div>
    </div>
    [[ if (help !== null) { ]]
    <div class="box-info">
      <i class="far fa-eye"></i>
      <p>[[=help]]</p>
    </div>
    [[ } ]]
    [[ } ]]
  </section>
  [[ if (z.git_stats !== null ) { ]]
  <section style="margin-top: 40px; margin-bottom: 40px;">
    <h2><i class="fab fa-git-alt"></i>GIT Repositories Statistics</h2>
    <div class="box-stats-container">
      <div class="box-stats-resume">
        <div class="one-stat">
          <i class="fas fa-weight-hanging"></i>
          <h3>Internal Size</h3>
          <span>[[=z.git_stats.size.internal]]</span>
        </div>
        <div class="one-stat">
          <i class="fas fa-weight-hanging"></i>
          <h3>Third Size</h3>
          <span>[[=z.git_stats.size.external]]</span>
        </div>
        <div class="one-stat">
          <i class="fas fa-boxes"></i>
          <h3>All Size</h3>
          <span>[[=z.git_stats.size.all]]</span>
        </div>
      </div>
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-box"></i>
          <h3><span>[[=z.git_stats.packages_count.internal]]</span>Internal Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, option] of Object.entries(z.git_stats.packages)) { ]]
          [[ if (!option.isThird) { ]]
          <li class="npm-packages-item">
            <a href="[[=option.links.repository]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
            [[ if (z.git_stats.showFlags) { ]]
            [[ for (const flag of Object.values(option.flags)) {]]
            <span class="emoji" title="[[=flag.tooltipDescription]]">
              [[=flag.emoji]]
            </span>
            [[ } ]]
            [[ } ]]
          </li>
          [[ } ]]
          [[ } ]]
        </ul>
      </div>
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-globe"></i>
          <h3><span>[[=z.git_stats.packages_count.external]]</span>Third-party Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, option] of Object.entries(z.git_stats.packages)) { ]]
          [[ if (option.isThird) { ]]
          <li class="npm-packages-item">
            <a href="[[=option.links.repository]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
            [[ if (z.git_stats.showFlags) { ]]
            [[ for (const flag of Object.values(option.flags)) {]]
            <span class="emoji" title="[[=flag.tooltipDescription]]">
              [[=flag.emoji]]
            </span>
            [[ } ]]
            [[ } ]]
          </li>
          [[ } ]]
          [[ } ]]
        </ul>
      </div>

      [[ if (z.git_stats.showFlags) { ]]
      <div class="print-only">
        <!-- We display the emoji legend on print mode because PDF does not support title attribute -->
        <ul class="emoji-legend">
          [[ for (const flag of Object.keys(z.git_stats.flags)) { ]]
          <li>
            [[=z.git_stats.flagsList[flag].emoji]]
            [[=z.git_stats.flagsList[flag].tooltipDescription]]
          </li>
          [[ } ]]
        </ul>
      </div>
      [[ } ]]
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-project-diagram"></i>
          <h3><span>[[=Object.keys(z.git_stats.deps.transitive).length]]</span>Transitive Dependencies</h3>
        </div>
        <ul class="npm-packages-list">
          [[ for (const [name, { links }] of Object.entries(z.git_stats.deps.transitive)) { ]]
          <li class="npm-packages-item">
            <a href="[[=links.repository]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
      <div class="box-stats">
        <div class="box-title">
          <i class="fab fa-node-js"></i>
          <h3><span>[[=Object.keys(z.git_stats.deps.node).length]]</span>Node.js Core Dependencies</h3>
        </div>
        <ul class="node-list">
          [[ for (const [name, { visualizerUrl }] of Object.entries(z.git_stats.deps.node)) { ]]
          <li class="node-item">
            <a href="[[=visualizerUrl]]" target="_blank" rel="noopener">
              <span>[[=name]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
    </div>
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <i class="fas fa-user"></i>
          <h3>Authors & Maintainers</h3>
        </div>
        <div class="box-avatar">
          [[ for (const [email, count] of Object.entries(z.git_stats.authors)) { ]]
          <div class="avatar" data-email="[[=email]]">
            <a href="#" target="_blank" rel="noopener"></a>
            <p>[[=count]]</p>
          </div>
          [[ } ]]
        </div>
      </div>
    </div>
    [[ if (Object.keys(z.git_stats.scorecards).length > 0) { ]]
    <div class="box-stats-container">
      <div class="box-stats">
        <div class="box-title">
          <h3>Scorecards</h3>
        </div>
        <ul class="scorecard-packages-list">
          [[ for (const [package, { score, color, visualizerUrl }] of Object.entries(z.git_stats.scorecards)) { ]]
          <li class="scorecard-item">
            <a href="[[=visualizerUrl]]" target="_blank" rel="noopener">
              <span class="package">[[=package]]</span>
              <span class="score [[=color]]">[[=score]]</span>
            </a>
          </li>
          [[ } ]]
        </ul>
      </div>
    </div>
    [[ } ]]
    [[ for (const { name, help } of z.charts) { ]]
    <div class="box-stats-container charts">
      <div class="box-stats">
        <div class="box-title">
          <h3>[[=name]]</h3>
        </div>
        <canvas id="git_[[=name.toLowerCase()]]_canvas"></canvas>
      </div>
    </div>
    [[ if (help !== null) { ]]
    <div class="box-info">
      <i class="far fa-eye"></i>
      <p>[[=help]]</p>
    </div>
    [[ } ]]
    [[ } ]]
  </section>
  [[ } ]]
</div>
