:root {
    --primary-text-color: whitesmoke;
    --secondary-text-color: rgb(182, 244, 255);
    --primary-border-color: rgba(55, 71, 79, 0.733);
    --faded-border-color: rgb(78, 99, 109, 0.25);
    --main-color: #FFEA00;
    --default-margin: 15px;
}

@font-face{
    font-family: "mononoki";
    src: url("../font/mononoki-Regular.eot");
    font-style: normal;
}

body {
    background: rgb(38,50,56);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(38,50,56,1) 0%, rgba(19,25,30,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(38,50,56,1) 0%,rgba(19,25,30,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(38,50,56,1) 0%,rgba(19,25,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#263238', endColorstr='#13191e',GradientType=1 );
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}

canvas {
    margin-top: 10px;
}

hr {
    width: 90%;
}

div.container {
    width: 1000px;
    margin-bottom: 50px;
}

h1, h2, h3 {
    font-family: "mononoki";
}

h2, h3 {
    text-align: center;
    padding: 5px;
    color: #FFFDE7;
}
h1 {
    font-size: 3em;
    font-weight: bold;
}
h2 {
    font-size: 1.75em;
    color: var(--main-color);
    text-shadow: 1px 1px 10px rgba(49, 46, 38, 0.609);
}
h3 {
    font-size: 1.2em;
    text-shadow: 1px 1px 10px rgba(173, 131, 16, 0.609);
}
    h3 > span {
        color: var(--main-color);
        margin-right: 10px;
    }

i ~ h2, i ~ h3 {
    margin-top: 2px;
}

.fas {
    color: whitesmoke;
    font-size: 20px;
}

div.container header {
    height: 180px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(247, 245, 241);
    text-shadow: rgba(18, 19, 20, 0.5) 1px 1px 5px;
    position: relative;
}
    div.container header > p {
        position: absolute;
        margin: auto;
        bottom: 40px;
        font-style: italic;
        color: #546E7A;
        letter-spacing: 0.7px;
        font-size: 15px;
    }
    div.container header div.logo {
        margin-right: 10px;
    }
        div.container header div.logo > img {
            width: 30px;
            height: 30px;
        }

    div.container > section {
        display: flex;
        flex-direction: column;
    }
    div.container > section + section {
        margin-top: var(--default-margin);
    }
    div.container > section h2 {
        display: flex;
        margin: var(--default-margin) 0;
        justify-content: center;
        font-weight: bold;
    }

.box-stats-container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--default-margin);
    padding-top: 30px;
}
.box-stats-container + .box-stats-container {
    border-top: 2px dashed var(--faded-border-color);
    margin-top: var(--default-margin);
}
.box-stats-container.charts {
    background: rgba(20, 20, 20, 0.1);
    border-radius: 4px;
    border-top: none !important;
}
.box-stats-container.charts .fas {
    font-size: 30px;
}
.box-stats-container.charts h3 {
    font-size: 1.75em;
}

    .box-stats-container > .box-stats {
        flex-grow: 1;
        flex-basis: 200px;
        flex-shrink: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .box-stats-container > .box-stats + .box-stats {
        margin-left: var(--default-margin);
    }

    .box-stats-container > .box-stats > .box-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-stats-container > .box-stats-resume {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-top: -10px;
        width: 100%;
    }
    .box-stats-container > .box-stats-resume > .one-stat {
        display: flex;
        flex-basis: 250px;
        flex-grow: 1;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 110px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid var(--faded-border-color);
        border-radius: 4px;
    }
    .box-stats-container > .box-stats-resume > .one-stat span {
        color: var(--main-color);
        font-weight: bold;
        border-bottom: 3px solid var(--main-color);
        margin-top: 3px;
        padding: 7px;
        border-radius: 2px;
    }


.box-stats-container > .box-stats > .box-avatar {
    margin-top: var(--default-margin);
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow-y: auto;
    justify-content: center;
}
    .box-avatar .avatar {
        position: relative;
        flex-basis: 60px;
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin-left: 5px;
        margin-top: 5px;
        border-radius: 4px;
        border: 2px solid #FFF;
        box-sizing: border-box;
    }

    .box-avatar .avatar img {
        width: 58px;
        height: 58px;
    }

    .box-avatar .avatar p {
        font-size: 12px;
        border-radius: 2px;
        padding: 3px;
        background-color: #263238;
        color: #FFF;
        position: absolute;
        bottom: 2px;
        right: 2px;
        font-weight: bold;
    }

ul {
    margin-top: var(--default-margin);
}

    ul > li {
        height: 35px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        letter-spacing: 0.7px;
        color: var(--secondary-text-color);
        border-bottom: 1px solid var(--primary-border-color);
    }
