:root {
    --primary-border-color: #607d8b;
    --default-margin: 15px;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}

hr {
    width: 90%;
}

div.container {
    width: 900px;
}
div.container header {
    height: 50px;
    background-color: var(--primary-border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    div.container header > h1 {
        font-size: 26px;
    }

div.container > section {
    display: flex;
    flex-direction: column;
}
div.container > section + section {
    margin-top: var(--default-margin);
}
div.container > section h2 {
    display: flex;
    margin: var(--default-margin) 0;
    justify-content: center;
    font-weight: bold;
}

.box-stats-container {
    display: flex;
    flex-wrap: wrap;
    padding: var(--default-margin);
}
    .box-stats-container > .box-stats {
        flex-grow: 1;
        flex-basis: 200px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
    }
    .box-stats-container > .box-stats > .box-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-stats-container > .box-stats > .box-title i {
        margin-bottom: 5px;
    }

    .box-stats-container > .box-stats + .box-stats {
        margin-left: var(--default-margin);
    }

.box-stats-container + .box-stats-container {
    border-top: 2px dashed #607d8b;
    margin-top: var(--default-margin);
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    text-align: center;
}

span {
    color: var(--primary-border-color);
}

.fas {
    color: var(--primary-border-color);
}

ul {
    margin-top: var(--default-margin);
}
li {
    border-color: var(--primary-border-color);
    height: 25px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}
li + li {
    border-top: 1px solid;
}

b {
    color: black;
}
