:root {
    --primary-text-color: #263238;
    --secondary-text-color: #607D8B;
    --primary-border-color: rgba(55, 71, 79, 0.35);
    --faded-border-color: rgba(78, 99, 109, 0.137);
    --head-paragraph-color: #90A4AE;
    --main-color: #4527A0;
    --default-margin: 15px;
    --avatar-border-color: #FFF;
    --li-hover-color: #234d62;
    --h2-h3-text-color: #3F51B5;
    --h2-shadow: rgba(3, 8, 17, 0.137);
    --h3-shadow: rgba(51, 63, 70, 0.26);
    --charts-background: rgba(230, 230, 230, 0.1);
}

.fas, .fab {
    color: #546E7A !important;
}

body {
    background: rgb(238,238,238);
    background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
}

@media print {
    html, body {
        background: rgb(238,238,238);
        background: radial-gradient(ellipse at center,  rgba(238,238,238,1) 0%,rgba(255,255,255,1) 100%);
    }
}

header, h2, h3 {
    text-shadow: none !important;
}

.box-stats-container.charts {
    background: none !important;
}

.avatar {
    box-shadow: 1px 1px 2px rgba(20, 20, 20, 0.2);
}
.avatar > p {
    background-color: #4527A0 !important;
}
